{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    修改APP——META STUDIO
{% endblock title %}
{% block body %}
		<div id="fh5co-main">
			<div class="fh5co-narrow-content">
                <div class="panel panel-default">
                    <div class="panel-heading">APP上传</div>
                    <div class="panel-body">
                        <form class="form" action="{% url 'app:editApp' app.pk %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form.non_field_errors }}
                            <div class="form-group">
                                <label for="title" class="sr-only">APP名称(必填)</label>
                                <input type="text" name="name" id="title" value="{{ app.name }}" placeholder="APP名称(必填)" class="form-control" maxlength="100" required>
                                {{ form.title.errors }}
                                {% if form.title.help_text %}
                                    {{ form.title.help_text|safe }}
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <label for="version" class="sr-only">版本(必填)</label>
                                <input type="text" name="version" id="version" value="{{ app.version }}" placeholder="版本(必填)" class="form-control" maxlength="100" required>
                                {{ form.title.errors }}
                                {% if form.title.help_text %}
                                    {{ form.title.help_text|safe }}
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <label for="category" class="">分类(必填)</label>
                                <select class="" id="category" name="category" required>
                                  {% for cate in categories %}
                                      <option value="{{ cate.pk }}">{{ cate.name }}</option>
                                  {% endfor %}
                                </select>
                                {{ form.category.errors }}
                                {% if form.category.help_text %}
                                    {{ form.category.help_text|safe }}
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <label for="body" class="sr-only"></label>
                                <input  name="inTro" id="body" value="{{ app.inTro }}" class="form-control" placeholder="简介(必填)" required/>
                                {{ form.inTro.errors }}
                                {% if form.inTro.help_text %}
                                    {{ form.inTro.help_text|safe }}
                                {% endif %}
                            </div>
                            <input type="hidden" value="{{ user.pk }}" name="author">
                            <div class="form-group">
                                <label for="app">APP(必填)&nbsp;&nbsp;</label>
                                <span class="h4">目前：{{ app.app }}</span>
                                <input type="file" name="app" id="app"/>
                            </div>
                            <div class="form-group">
                                <label for="icon" class="">APP图标&nbsp;&nbsp;</label>
                                <span class="h4">目前：{{ app.icon }}</span>
                                <input type="file" name="icon" id="icon" value="{{ app.icon }}"/>
                                <label for="foreImg" class="">APP展示图片&nbsp;&nbsp;</label>
                                <span class="h4">目前：{{ app.foreImg }}</span>
                                <input type="file" name="foreImg" id="foreImg" value="{{ app.foreImg }}"/>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-default form-control">确认修改</button>
                            </div>
                        </form>
                    </div>
                </div>
			</div>
		</div>
{% endblock body %}