{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
    修改密码
{% endblock title %}
{% block narlog %}
    fh5co-active
{% endblock narlog %}
{% block body %}
		<div id="fh5co-main">
			<div class="fh5co-narrow-content">
				<div class="panel panel-default">
                    <div class="panel-heading">登陆/注册</div>
                    <div class="panel-body">
                        <form action="{% url 'password_change' %}" method="POST">
                            {% csrf_token %}
                            {{ form.non_field_errors }}
                             <div class="form-group">
                                 <label for="old_password" class="sr-only">旧密码</label>
                                 <input type="password" name="old_password" id="old_password" placeholder="旧密码" class="form-control" required>
                                 {{ form.old_password.errors }}
                                 {% if form.old_password.help_text %}
                                     <p>{{ form.old_password.help_text|safe }}</p>
                                 {% endif %}
                             </div>
                             <div class="form-group">
                                <label for="new_password1" class="sr-only">新密码</label>
                                <input type="password" name="new_password1" id="new_password1" placeholder="新密码" class="form-control" required>
                                {{ form.new_password1.errors }}
                                {% if form.new_password1.help_text %}
                                    <p>{{ form.new_password1.help_text|safe }}</p>
                                {% endif %}
                             </div>
                             <div class="form-group">
                                <label for="new_password2" class="sr-only">新密码确认</label>
                                <input type="password" name="new_password2" id="new_password2" placeholder="新密码确认" class="form-control" required>
                                {{ form.new_password2.errors }}
                                {% if form.new_password2.help_text %}
                                    <p>{{ form.new_password2.help_text|safe }}</p>
                                {% endif %}
                             </div>
                             <div class="form-group">
                                <button type="submit" class="btn btn-default pull-right">确认修改</button>
                             </div>
                        </form>
                    </div>
                </div>
			</div>
		</div>
{% endblock %}