{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
    重置密码
{% endblock title %}
{% block narlog %}
    fh5co-active
{% endblock narlog %}
{% block body %}
		<div id="fh5co-main">
			<div class="fh5co-narrow-content">
				<div class="panel panel-default">
                    <div class="panel-heading">登陆/注册</div>
                    <div class="panel-body">
                        密码重置链接发送
                        <p>
                          如果您输入的邮件地址所对应的账户存在，设置密码的提示已经发送邮件给您，您将很快收到。
                        </p>
                        <p>
                          如果你没有收到邮件, 请确保您所输入的地址是正确的, 并检查您的垃圾邮件文件夹.
                        </p>
                    </div>
                </div>
			</div>
		</div>
{% endblock %}