{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
    新密码设置成功
{% endblock title %}
{% block narlog %}
    fh5co-active
{% endblock narlog %}
{% block body %}
		<div id="fh5co-main">
			<div class="fh5co-narrow-content">
				<div class="panel panel-default">
                    <div class="panel-heading">新密码设置成功</div>
                    <div class="panel-body text-center">
                        <a href="{% url 'blog:index' %}">返回首页</a>
                    </div>
                </div>
			</div>
		</div>
{% endblock %}